@font-face {
  font-family: SVN;
  src: url('./SVN-Arsilon.otf') format('opentype');
}

.prizes {
  &__prizes-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 1rem 1rem 1rem;
    position: relative;

    @media screen and (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 6rem calc(5% + 1rem);
      gap: 2rem;
    }

    h1:first-child {
      font-weight: 700;
      padding: 0 0 1rem 0;
      background: linear-gradient(95.28deg, #1ba0e2 24.2%, #1870c9 98.8%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @media screen and (min-width: 992px) {
        position: absolute;
        top: 2rem;
        left: calc(5% + 1rem);
      }
    }

    button {
      margin: 0.5rem auto 2.5rem auto;
      background: var(--btn-primary);
      border: none;
      box-shadow: 3px 4px #2c84ef6a;
      color: black;

      @media screen and (min-width: 992px) {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        width: 15% !important;
        transform: translateX(-50%);
      }
    }
  }

  &__prizes-flower-top {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
    width: 20%;

    @media screen and (min-width: 992px) {
      width: 5%;
    }
  }

  &__prizes-flower-bottom {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    transform: rotate(90deg);
    width: 18%;

    @media screen and (min-width: 992px) {
      width: 5%;
    }
  }

  &__prizes-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 992px) {
      width: 100%;
    }
  }

  &__prizes-image {
    position: relative;

    img {
      width: 100%;
    }

    h1 {
      position: absolute;
      bottom: 5%;
      left: 5%;
      font-family: SVN;
      color: white;
      padding: 0;
      margin: 0;
    }
  }

  &__prizes-item-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
    color: var(--primary);

    p {
      font-weight: 600;
      color: black;
      text-align: left;
      margin: 0;
      font-size: 1.15rem;
    }

    h5 {
      margin: 0;
      color: black;
      font-weight: bold;
    }
  }
}
