.rule {
  padding: 5rem 1rem 5rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: 992px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  h1 {
    color: var(--primary);
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  p {
    color: black;
  }

  button {
    margin-top: 1rem;
    width: 100%;
    background: var(--primary);
    border: none;
    box-shadow: 3px 4px #2c84ef89;
    color: white;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
    background-image: url('../../assets/decorator-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 992px) {
      content: none;
    }
  }
}
