.navbar-view {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  #dropdown-basic-button-white {
    color: var(--primary);
    padding-left: 0;
  }

  #dropdown-basic-button {
    padding-left: 0;
  }

  .dropdown-menu[data-bs-popper] {
    right: 0 !important;
    left: auto;
  }

  .container {
    justify-content: space-between !important;
    padding: 0 !important;
  }

  &__nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;

    h6 {
      margin: 0;
    }

    .sb-avatar__image {
      border: 1px solid white;
    }
  }

  &__nav-right-none-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem 0.75rem;
  }

  .navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    min-height: 56px;

    .container {
      justify-content: flex-start;
      width: 95%;
    }

    button {
      border: none;
      padding: 0.35rem 0.75rem;
      background: none;

      &:focus {
        border: none;
      }

      &::after {
        margin-bottom: -2px;
      }
    }

    .navbar-brand {
      padding-top: 0;

      img {
        padding-bottom: 3px;
      }
    }
  }

  .navbar-collapse {
    height: 100vh;
    padding: 2rem;
    background: var(--primary);

    @media screen and (min-width: 992px) {
      height: auto;
      padding: 0;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 5%;
      left: -4%;
      width: 108%;
      height: 100%;
      background-image: url('../../assets/pubble.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;

      @media screen and (min-width: 992px) {
        content: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -4%;
      width: 108%;
      height: 72px;
      transform: translateY(-50%);
      background-image: url('../../assets/hoaMai.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media screen and (min-width: 992px) {
        content: none;
      }
    }

    i {
      @media screen and (min-width: 992px) {
        display: none;
      }
    }
  }

  .navbar-toggler-icon {
    background-image: url(../../assets/menuToggle.svg);
    width: 1rem;
    height: 1rem;
  }

  .is-white {
    .navbar-toggler-icon {
      background-image: url(../../assets/menuToggleBlue.svg);
    }
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem 2.5rem 15rem 2.5rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 48px;
    border-bottom: none;
    position: relative;
    margin-top: 30%;

    @media screen and (min-width: 992px) {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      background: none;
      gap: 1.25rem;
    }

    .nav-link {
      font-size: 1.5rem;
      color: white;
      font-weight: 700;

      @media screen and (min-width: 992px) {
        font-size: 1rem;
        padding: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 105px;
      height: 60px;
      transform: translate(-50%, -50%);
      background-image: url('../../assets/Flower.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media screen and (min-width: 992px) {
        content: none;
      }
    }
  }

  .response-desktop-nav {
    background: white;
    a {
      color: gray !important;
    }
  }
}
