.modal-content {
  border: 2px solid #d6f1ff;
  box-shadow: 3px 3px white;
  border-radius: 4px;
}

.modal-body {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  position: relative;

  p {
    color: black;
  }

  .card-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    h4 {
      margin: 0;
    }
  }

  .list-group-item {
    display: flex;
    justify-content: space-between;
  }

  .popup-modal__profile-vote {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    h6 {
      margin: 0;
    }
  }

  .popup-modal__time-vote {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;

    p {
      margin: 0;
    }
  }

  .form-floating {
    * {
      color: #6c757d;
    }
  }
}

.modal {
  --bs-modal-width: 80% !important;
}

.modal-header {
  padding: 0.25rem 1.5rem !important;
  border: none;

  .btn-close {
    scale: 1.25;
    margin-bottom: 1rem;
  }
}

.modal-dialog {
  position: relative;
  top: 20%;
  width: 90% !important;
  margin: auto !important;
  pointer-events: none;

  @media screen and (min-width: 992px) {
    width: 30% !important;
  }
}

.modal-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h4 {
    background: linear-gradient(95.28deg, #1ba0e2 24.2%, #1870c9 98.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 0.25rem;
    font-size: 1.65rem;
    font-weight: 900;
    margin: 0;
  }
}

.modal-footer {
  padding: 1rem 0 0 0 !important;
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.popup-modal__header-login {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: rgba(var(--tmdbLightBlue), 1);
    width: 100%;
    animation: loginSuccess linear 2.9s;
  }
}

.form-control {
  border-radius: 4px;
}

@keyframes loginSuccess {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
