.dropdown-item {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 3px;
      font-size: 12px;
    }
  }
}
